+++
title = "Petra Cipher Docs"
linkTitle = "Petra Cipher Docs"
+++

{{< blocks/cover title="Welcome to Sinsiway Docs !" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">	
	<a class="btn btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-secondary mr-3 mb-4" href="https://sinsiway.com">
		HomePage <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<p class="lead mt-5">more..</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="white">}}

{{% blocks/feature icon="fa fa-comments" title="Check out the latest news!" url="https://github.com/sinsiway-official/sinsiway-official.github.io/issues/new" %}}
Visit us to check out the latest issues.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/sinsiway-official" %}}
Come visit Sinsiway's **GitHub**. We welcome you.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-users" title="Follow us on Inside!" url="https://blog.sinsiway.com" %}}
Join us at Sinsiway **Inside**.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}

{{< /blocks/section >}}